build
rocc_config.h
tx_config.h
scripts/hosts.xml
third_party/boost
third_party/libRDMA/lib
third_party/libRDMA/ralloc/.libs/
third_party/libRDMA/ralloc/**/*.o
third_party/libRDMA/ralloc/**/*.a
third_party/libRDMA/ralloc/**/*.la
third_party/libRDMA/ralloc/**/*.so
third_party/libRDMA/ralloc/**/*.lo
**/*.pyc
**/tmp
