<bench>
  <port>8888</port>
  <scale>3</scale>
  <rep_factor>0</rep_factor>

  <micro>14</micro>
  
  <bank>
    <sp> 100 </sp>
    <dc> 0 </dc>
    <payment> 0 </payment>
    <ts> 0 </ts>
    <wc> 0 </wc> 
    <aml> 0 </aml>
  </bank>

  <tpcc>
    <new>100</new>
    <pay>0</pay>
    <del>0</del>
    <stock>0</stock>
    <order>0</order>
  </tpcc>
  
  <paxos>
    <pv>100</pv>
  </paxos>
</bench>
