<bench>
  <port>8888</port>
  <scale>3</scale>
  <rep_factor>0</rep_factor>

  <micro>14</micro>
  
  <bank>
    <sp> 17 </sp>
    <dc> 17 </dc>
    <payment> 17 </payment>
    <ts> 16 </ts>
    <wc> 17 </wc> 
    <aml> 16 </aml>
    <ycsb> 0 </ycsb>
  </bank>

  <tpcc>
    <new>100</new>
    <pay>0</pay>
    <del>0</del>
    <stock>0</stock>
    <order>0</order>
  </tpcc>
  
  <paxos>
    <pv>100</pv>
  </paxos>
  
  <ycsb>
    <set_len>10</set_len>
    <write_num>1</write_num>
    <tx_hot>10</tx_hot>
    <num_hot>100</num_hot>
    <num_accounts>100000</num_accounts>
    <sleep_time>5</sleep_time>
  </ycsb>

</bench>
